absl-py
astunparse
cachetools
certifi
charset-normalizer
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opt-einsum
packaging
pillow
protobuf
pyasn1
pyasn1-modules
pytesseract
requests
requests-oauthlib
rsa
setuptools
six
tensorboard
tensorboard-data-server
tensorflow-estimator
termcolor
typing_extensions
urllib3
Werkzeug
wheel
wrapt
picamera
